.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(42, 34, 34);
}

h1 {
  margin: 120px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #595f67;
  font-size: 6rem;
  font-weight: 900;
  color: #85f8d1;
}

p {
  font-size: 2rem;
  color: #147b59;
  font-family: 'Indie Flower', cursive;
  text-shadow: 2px 0 rgb(190, 174, 174);
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
